.html {
    font-size: 16px;
}

.background {
    display: flex;
    background-color: #F3F2F0;
    height: 100vh;
    width: 100%;
}

.centralizer {
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: column;
}

.logoContainer {
    margin-top: 2%;
}

.logoTransparente {
    width: 10vw;
    height: auto;
}

.formBox {
    margin-top: 2%;
    width: 29%;
    height: 65%;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
    color: white;
    flex-direction: column;
    overflow: hidden;
}

.title {
    margin-top: 3%;
    color: #0D4A3A;
    font-family: 'Poppins', serif;
    font-weight: 600;
    font-size: clamp(1rem, 1.3rem, 2rem);
    margin-left: 3%;
    margin-right: 3%;
}

.circle {
    margin-top: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8vw;
    height: 8vw;
    border-radius: 100%;
    border-width: 0.2vw;
    border-color: #8A8A8A;
    border-style: solid;
}

.lock {
    width: 5vw;
    height: 5vw;
}

input {
    display: flex;
    margin-top: 2vw;
    width: 25vw;
    height: 3.2vw;
    border: none;
    outline: none;
    padding: 12px 20px;
    border-radius: 8px;
    background-color: #EBEBEB;
    font-size: 16px;
    font-family: Arial, sans-serif;
    transition: all 0.1s ease;
    box-sizing: border-box; /* pro tamanho não ser afetado por font-size, padding, etc. */
  }

  input::placeholder {
    color: #0D4A3A;
    font-size: 16px;
    font-family: 'Poppins', serif;
    font-weight: 600;
  }

  input:focus {
    background-color: #fff;
    box-shadow: 0 0 5px #0D4A3A;
  }

.botaoContinuar {
    text-align: center;
    margin-top: 2vw;
    width: 25vw;
    height: 3.2vw;
    background-color: #092B22;
    border: none;
    outline: none;
    border-radius: 10px;
    color: #fff;          
    font-size: 16px;       
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    box-sizing: border-box; 
    transition: all 0.1s ease;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.botaoContinuar:hover {
    background-color: #fff;
    color: #092B22;
    box-shadow: 0 0 5px #092B22;
    cursor: pointer;
    border: none;
}

.divisor {
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 12px;
}

.barraCinza {
    margin-left: 5%;
    margin-right: 5%;
    width: 100%;
    height: 15%;
    background-color: #8A8A8A;
}

.divisorText {
    font-family: "Poppins", serif;
    font-size: 1rem;
    color: #8A8A8A;
}

.botaoCadastrar{
    text-align: center;
    margin-top: 2vw;
    width: 25vw;
    height: 3.2vw;
    background-color: #2064C9;
    border: none;
    outline: none;
    border-radius: 10px;
    color: #fff;   
    font-size: 16px;       
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    box-sizing: border-box; 
    transition: all 0.1s ease;
}

.botaoCadastrar:hover{
    cursor: pointer;
    background-color: #fff;
    color: #2064C9;
    box-shadow: 0 0 5px #2064C9;
}