.container {
    display: flex;
    flex: 1;
    background-color:#01362a;
    height: 100vh;
    width: auto;
    justify-content: center;
}

.formContainer {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.formBox {
    background-color: whitesmoke;
    border: solid 2px darkgray;
    border-radius: 8px;
    height: 80vh;
    width: 30vw;
}

.logo {
    height: 8%;
    width: auto;
    display: flex;
    justify-self: center;
    margin-top: 10%;
}

.formTitle {
    font-family: "Baloo Bhaijaan 2", sans-serif;
    text-align: center;
    color: gray;
}

.firstInputBox {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 80%;
    justify-self: center;
    margin-top: 6%;
}

.inputBox {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 80%;
    justify-self: center;
    margin-top: 6%;
}

.inputTitle {
    font-family: sans-serif;
    font-weight: 600;
}

.input {
    height: 2vw;
    font-size: 16px;
    font-family: sans-serif;
    border-radius: 4px;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    color: #01362a;
    outline: none;
    border: 1px solid #ccc;
    padding: 6px;
    border-radius: 4px;
}

input::placeholder {
    opacity: 0.5;
    font-size: 14px;
    font-weight: 500;
}

.bottomTextDiv {
    justify-content: center;
    width: 80%;
    justify-self: center;
    text-align-last: center;
    margin-top: 20px;
    text-align: center;
}

.bottomText {
    font-size: 14px;
}

.buttonDiv {
    display: flex;
    flex: 1;
    justify-content: center;
    margin-top: 6%;
    height: 6vh;
}

.buttonCadastrar {
    background-color: #0d4a3a;
    width: 80%;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.buttonText {
    color: white;
    font-family: "Baloo Bhaijaan 2", sans-serif;
    font-weight: 600;
    border-radius: 10px;
    font-size: 20px;
}

.separator{
    justify-self: center;
    margin-top: 6%;
    width: 90%;
    height: 1px;
    background-color: lightslategray;
}

.bottomBottomTextDiv {
    justify-content: center;
    width: 100%;
    justify-self: center;
    text-align-last: center;
    margin-top: 20px;
    text-align: center;
}